h1 {
    color:#52545F;
    font-family:Verdana;
    font-size:20pt;

}
h2 {
    color:#52545F;
    font-family:Verdana;
    font-size:10pt
}
h3 {
    color:#52545F;
    font-family:Verdana;
    font-weight:bold ;
    font-size:10pt;
    text-decoration : underline;
}

.pf-layout-pane-west {
    padding: 0;
    border: 0;
    background: lightseagreen;
}
