<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>Error 404: doughnut not found!</title>
</h:head>
<h:graphicImage library="errorpage" name="pic1.png" style="float: left"/>
<h:graphicImage library="errorpage" name="404.gif" style="float: inherit"/>

</html>