<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"

      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>
<h:body>
    <ui:composition template="template/tamplate.xhtml">
        <ui:define name="content">
            <h:form>
                <h1>
                    <h:outputText value="#{msg['welcome.jsf']}"/>
                    <br/>
                </h1>

                <h2>
                    <h:outputText value="#{msg['date.jsf']}"/>
                    <br/>
                    <br/>
                    <h:outputText value="#{msg['desc.jsf']}" escape="false"/>
                    <br/>
                    E-mail: <a href="mailto:malysheff@ukr.net"> malysheff@ukr.net</a>
                    <br/>
                    <br/>
                    <!-- anchor education-->
                    <h:commandLink id="education" name="education"/>
                    <br/>
                </h2>

                <h3>
                    <h:outputText value="#{msg['educ_head.jsf']}" escape="false"/>
                </h3>

                <h2>
                    <h:outputText value="#{msg['educ.jsf']}" escape="false"/>
                    <br/>
                    <br/>
                    <!-- anchor skills-->
                    <h:commandLink id="skills" name="skills"/>
                </h2>

                <h3>
                    <h:outputText value="#{msg['skills_head.jsf']}" escape="false"/>
                </h3>

                <h2>
                    <h:outputText value="#{msg['skills.jsf']}" escape="false"/>
                    <br/>
                    <br/>
                    <!-- anchor experience-->
                    <h:commandLink id="exp" name="exp"/>
                </h2>

                <h3>
                    <h:outputText value="#{msg['exp_head.jsf']}" escape="false"/>
                </h3>

                <h2>
                    <h:outputText value="#{msg['exp1.jsf']}" escape="false"/>
                    <br/>

                    <h:outputText value="#{msg['exp2.jsf']}" escape="false"/>
                    <br/>
                    <br/>
                </h2>

                <h3>
                    <h:outputText value="#{msg['add_head.jsf']}" escape="false"/>
                    <!-- anchor additional-->
                    <h:commandLink id="additional" name="additional"/>
                    <br/>
                </h3>
                <h2>
                    <h:outputText value="#{msg['add.jsf']}" escape="false"/>
                </h2>

            </h:form>
        </ui:define>
    </ui:composition>


</h:body>
</html>
