<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>
<h:body>
    <ui:composition template="template/tamplate.xhtml">
        <ui:define name="content">

            <!-- <h:form>
                 <p:commandButton id="button1" value="Submit" action="wizard"/>
             </h:form>
             -->
            <table id= "pprint" cellspacing="20" width="100%"/>
            <table border="0" cellpadding="0" cellspacing="0" width="100%"/>
            <tr>
                <td width="100%" colspan="2"><b><font color="#52545F" size="4">Malyshev Vadym</font></b>
                    <br/>
                    <font color="#52545F">Date of dirth: 1978/08/21 </font></td>

            </tr>
            <tr>
                <td width="100%" colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td width="3%"></td>
                <td width="97%"><font color="#52545F">
                    <br/>
                    Тел. (+38)050-353-32-98
                    <br/>
                    E-mail: <a href="mailto:malysheff@ukr.net"> malysheff@ukr.net</a></font><br/></td>

            </tr>
            <tr>
                <td width="100%" colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td width="100%" colspan="2"><b><font color="#52545F">Education</font></b><br/></td>
            </tr>
            <tr>
                <td width="3%"></td>
                <td width="97%"><font color="#52545F">National technical university of Ukraine "KPI". Faculty of Computer Science and Engineering.<br/>
                   Specialist, "Computer systems and networks". 1996 - 2002</font></td>
            </tr>


        </ui:define>
    </ui:composition>

</h:body>
</html>
