<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">

<p:megaMenu orientation="vertical" style="margin-top:20px">
    <p:menuitem value="Go to error page" url="/pages/error/error.xhtml?faces-redirect=true" icon="ui-icon-carat-1-e
 "/>
    <p:menuitem value="Go to index page" url="/pages/index.xhtml" icon="ui-icon-carat-1-e
 "/>
</p:megaMenu>
</html>