<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <title>Facelets Template</title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>

<h:body>

    <p:layout fullPage="true">

        <p:layoutUnit position="north" size="60" header="">
            <h:form>
                <!--
                <span style="padding:0px 10px;">
                <p:link value = "Russian"  href = "/pages/index.xhtml">

                </p:link>
                </span>

                <span style="padding:0px 10px;">
                <p:link value = "English"  href = "/pages/index_eng.xhtml">

                </p:link>
                </span>
                -->
                <h:panelGrid columns="2">

                    Language :
                    <h:selectOneMenu value="#{language.localeCode}" onchange="submit()"
                                     valueChangeListener="#{language.countryLocaleCodeChanged}">
                        <f:selectItems value="#{language.countriesInMap}"/>
                    </h:selectOneMenu>

                </h:panelGrid>

            </h:form>
            <!--ui:include src="../tabMenu.xhtml" ></ui:include-->
        </p:layoutUnit>


        <p:layoutUnit position="west" resizable="true" collapsible="true">
            <h:form>
                <h:graphicImage library="images" name="2.JPG" styleClass="pf-layout-pane-west"/>

                <p:growl autoUpdate="true"/>

                <p:panelMenu>
                    <p:submenu label= "#{msg1['link1.jsf']}"  >
                        <p:menuitem value="#{msg1['link2.jsf']}" url="/pages/index.xhtml#education" icon="ui-icon-disk"/>
                        <p:menuitem value="#{msg1['link3.jsf']}" url="/pages/index.xhtml#skills" icon="ui-icon-disk"/>
                        <p:menuitem value="#{msg1['link4.jsf']}" url="/pages/index.xhtml#exp" icon="ui-icon-disk"/>
                        <p:menuitem value="#{msg1['link5.jsf']}" url="/pages/index.xhtml#additional" icon="ui-icon-disk"/>

                    </p:submenu>

                </p:panelMenu>


            </h:form>

        </p:layoutUnit>


        <p:layoutUnit position="center">
            <ui:insert name="content">""</ui:insert>
        </p:layoutUnit>

    </p:layout>
</h:body>
</html>
